@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #EEC9E9;
    /*
     ideas for background images
     https://pixabay.com/id/illustrations/warna-merah-muda-putih-1030584/
     */
    font-size: 16px;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

@media only screen and (min-width: 1125px) {
    #index {
        display: grid;
        grid-template-columns: 20% 55% 25%;
        grid-template-rows: auto;
        grid-template-areas: "top top top"
                             "middle-left middle-middle middle-right"
                             "bottom bottom bottom"
    }

    #shop {
        display: grid;
        grid-template-columns: 20% 55% 25%;
        grid-template-rows: auto;
        grid-template-areas: "top top top"
                             "middle-left middle-right middle-right"
                             "bottom bottom bottom"
    }

    header {
        grid-area: top;
    }
    
    nav {
        grid-area: middle-left;
    }
    
    #index main {
        grid-area: middle-middle;
    }

    #shop main {
        grid-area: middle-right;
    }
    
    #index aside {
        margin-left: 1em;
        grid-area: middle-right;
    }
    
    footer {
        grid-area: bottom;
    }

}

nav {
    margin: 1em;
    padding: 1em 0;
    text-align: center;
    background: #B965A3
}

nav ul {
    list-style: none;
    padding: 0 1em; /*0.0625em;*/
}

nav ul {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;*/
    align-items: center;
    list-style: none;
}

nav li {
    margin: 1em;
    flex-grow: 1;
}

nav a {
    border: 0.0625em solid #711515;
    padding: 1.5em;
    text-decoration: none;
    color: white;
    background: black;
    white-space: nowrap;
    display: block;
}

nav a:hover {
    color: black;
    background: white;
}

nav a[href=""] {
    color: black;
    background: white;
}

header h1 {
    font-size: 4vw;
    font-family: 'Orbitron', sans-serif;
}

header p {
    font-family: 'Orbitron', sans-serif;
}

h2 {
    margin-top: 1em;
}

p {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

article section {
    text-align: center;
}
/*
article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}*/
section article section {
    border-bottom: 1em solid rebeccapurple;
    border-top: 1em solid rebeccapurple;
}

aside ul {
    padding-left: 1em;
}

article section + section {
    padding-top: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

article figure {
    width: 90%;
    flex-direction: column;
    margin: auto;
    padding-bottom: 1em;
}

article img, figcaption {
    width: 60%;
}

article figcaption {
    margin-left: 20%;
    font-size: 0.75em;
}

strong {
    display: block;
    font-size: 1.25em;
}

@media only screen and (max-width: 750px) {
    article img, article figcaption {
        width: 100%;
    }
    article figcaption {
        margin-left: 0;
    }
}

@media only screen and (min-width: 750px) {
    article img, article figcaption {
        width: 60%;
    }
    article figcaption {
        margin-left: 20%;
    }
}

@media only screen and (min-width: 1200px) {
    article img, article figcaption {
        width: 40%;
    }
    article figcaption {
        margin-left: 30%;
    }
}

@media only screen and (max-width: 675px) {
    figure {
        width: 90%;
    }
    iframe {
        width: 100%;
    }
}

/* Idea from
https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
*/


.vid {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
    max-width: 1200px;
    
}

.vid iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*größer als ~1200 Pixel sieht scheiße aus*/