@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
    background: /*#841B84#331C91*/#EEC9E9;
    /*
     ideas for background images
     https://pixabay.com/id/illustrations/warna-merah-muda-putih-1030584/
     */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header h1 {
    font-size: 4vw;
    font-family: 'Orbitron', sans-serif;
}

header p {
    font-family: 'Orbitron', sans-serif;
}
